/* Main */

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
   }

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    color: white;
    background-color: #1b242f;
    padding: 10px 0px 10px 100px;
    text-transform: uppercase;
    text-decoration-line: none;
}

#home {
    color: #e31b6d;
}

.header-links, a{
    display: flex;
    padding: 10px 20px 10px 0px; 
    gap: 5px;
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    margin-left: 40px;
}

/* Home Section */

.welcome {
    display: flex;
    display: block;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #1b242f;
    justify-content: center;
    padding: 220px;
    font-size: 23px;
}

.highlight {
    color: #e31b6d;
}

.button {
    display: flex;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    outline: 2px solid white;
    padding: 20px 30px;
    transition: color .2s;
}

.button:hover {
    color: #e31b6d;
}

/* Content */

.content {
    background-color: #fff;
    color: #1b242f;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 300px;
}

/* Footer */

.footer {
    background-color: #1b242f;
    color: #fff;
    font-family: 'Roboto', arial;
}
